.btn{
    background: linear-gradient(rgba(127,0,255,1), rgba(127,0,255,0.95));
    color: #dce3ea;
}
textarea{
    resize: none;
}

#Right_Wing{
    margin-left: 10px;
}

#errorMessage{
    color: red;
    animation: bs 3s 1;
}

#successMessage{
    color: lightgreen;
    animation: bs 3s 1;
}

@keyframes bs{
  0%{
    filter: brightness(.6);
  }
  100%{
    filter: brightness(1);
  }
}
